################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/.vs/PokerClient/v15/Server/sqlite3
/server/.vs/Poker.Server/v15/Server/sqlite3
